---
layout: default
---

    <div id="homewrap">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h1><b>{{ site.name }}</b></h1>
                    <h3>on the Camino de Santiago</h3>
                </div>

                <div class="col-lg-12">
                    <div id="map-container">
                        <div id="map" class="home-map"></div>
                        <div id="map-label" class="hide"></div>
                    </div>

                    <div id="elevation" class="graph home-graph"></div>
                </div>
                <div id="stats" class="home-stats"></div>
            </div>
        </div>
    </div>

    <div id="posts-wrap">
        <div class="container">
            <div class="row text-center">
            <h1>Journal Entries</h1>
            </div>

            <div class="posts">
                {% for post in site.posts %}
            <div class="post row">
                <div class="col-sm-6">
                    <h3><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h3>
                    <!-- <div>{{ post.categories }}</div> -->
                    <div class="tags">
                    {% for town in post.data.towns %}
                    {{ town.name | remove: ", Spain" }}{% unless forloop.last %} | {% endunless %}
                    {% endfor %}
                    </div>
                    <div class="date">{{ post.date | date_to_string }}</div>
                </div>
                <div class="col-sm-6">
                    <div>{{ post.content | strip_html | truncatewords:50 }}</div>
                    {% if post.content == "" %}
                    <br/><br/>
                    {% endif %}
                    <a href="{{site.baseurl}}{{ post.url }}">READ MORE</a>
                </div>
            </div>
                {% endfor %}
            </div>
        </div> <!--/ .container -->
    </div><!--/ #posts-wrap -->


    <script type="text/template" id="statsTemplate">
        <div class="col-sm-4 text-center">
            <h2><%= model.milesTraveled %></h2><h4>MILES TRAVELED</h4>
            <h2><%= model.milesLeft %></h2><h4>MILES LEFT</h4>
        </div>
        <div class="col-sm-4">
            <div class="arcgauge"></div>
        </div>
        <div class="col-sm-4 text-center">
            <h2><%= model.neededPace %><small>mi/day</small></h2>
            <h4>PACE NEEDED TO REACH GOAL</h4>
        </div>
    </script>

    <script type="text/javascript">
        var homeData, postData;
        function onLoad() {
            homeData = [];
            {% for post in site.posts reversed %}
            {% if post.data %}
                homeData.push({{ post.data | jsonify }});
                homeData[homeData.length-1].title = "{{post.title}}";
            {% endif %}
            {% endfor %}

            postData = {
                mileage: _.reduce(_.map(homeData, function(val) { return !!val.mileage ? val.mileage : 0; }), function(memo, val) { return memo+val; }),
                lastCheckin: new Date({% for post in site.posts %}{% if forloop.first == true %}"{{ post.date | date: '%B %-d, %Y' }}"{% endif %}{% endfor %}),
                paths: _.map(_.filter(homeData, function(val) { return !!val.polyline; }), function(val) { return val.polyline; }),
                elevation: _.flatten(_.map(_.filter(homeData, function(val) { return !!val.elevation; }), function(val) { return val.elevation; })),
                towns: _.flatten(_.map(_.filter(homeData, function(val) { return !!val.towns; }), function(val) { return val.towns; }))
            }
        }
    </script>