---
layout: default
---

    <div id="homewrap">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h1><b>{{ site.name }}</b></h1>
                    <h3>on the Camino de Santiago</h3>
                    <br>
                </div>

                <div class="col-lg-12">
                    <div id="map" class="home-map"
                    data-path="{% for post in site.posts reversed %}{{ post.polyline }}-{% endfor %}"
                    data-stops="{% for post in site.posts reversed %}{% if post.travelmode != 'Flying' %}{% for location in post.locations %}{{ location }}|{% endfor %}{% endif %}{% endfor %}Santiago,Spain"></div>

                    <div id="elevation" class="graph"></div>
                </div>
                <div class="col-lg-12">
                    <div id="stats" class="home-stats"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="posts-wrap">
        <div class="container">
            <div class="row text-center">
            <h1>Journal Entries</h1>
            </div>

            <div class="posts">
                {% for post in site.posts %}
            <div class="post row">
                <div class="col-sm-6">
                    <h3><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h3>
                    <div>{{ post.categories }}</div>
                    <div class="date">{{ post.date | date_to_string }}</div>
                </div>
                <div class="col-sm-6">
                    <div>{{ post.content | strip_html | truncatewords:50 }}</div>
                    <!-- <div>{{ post.locations | array_to_sentence_string}}</div> -->
                    <a href="{{site.baseurl}}{{ post.url }}">READ MORE</a>
                </div>
            </div>
                {% endfor %}
            </div>
        </div> <!--/ .container -->
    </div><!--/ #posts-wrap -->


    <script type="text/template" id="statsTemplate">
        <% if(!!model.milesTraveled) { %>
            <div>Miles Traveled: <%= model.milesTraveled %></div>
            <div>Miles Left: <%= model.milesLeft %></div>
            <div>Percent Complete: <%= model.percentComplete %></div>
            <div>Needed Pace: <%= model.neededPace %>mi/day</div>
        <% } %>
    </script>

    <script type="text/javascript">
     var elevationData = [];
     {% for post in site.posts reversed %}
        {% if post.elevation %}
            elevationData.push({{ post.elevation | jsonify}});
        {% endif %}
     {% endfor %}
     var mileage = 
     {% for post in site.posts reversed %}{% if post.mileage %}{{ post.mileage }} + {% endif %}
     {% endfor %}0;
     var lastCheckin = new Date(
     {% for post in site.posts %}{% if forloop.first == true %}"{{ post.date | date: '%B %-d, %Y' }}"{% endif %}
     {% endfor %});
    </script>