---
layout: default
---

    <div id="homewrap">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h1><b>{{ site.name }}</b></h1>
                    <br>
                </div>

                <div class="col-lg-12">
                    <div id="stats" class="home-stats"></div>
                </div>
                
                <div class="col-lg-12">
                    <div id="map" class="home-map" data-stops="{% for post in site.posts reversed %}{% if post.travelmode != 'Flying' %}{% for location in post.locations %}{{ location }}|{% endfor %}{% endif %}{% endfor %}Santiago,Spain"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="posts-wrap">
        <div class="container">
            <div class="row text-center">
            <h1>Journal Entries</h1>
            </div>

            <div class="posts">
                {% for post in site.posts %}
            <div class="post row">
                <div class="col-sm-6">
                    <h3><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h3>
                    <div>{{ post.categories }}</div>
                    <div class="date">{{ post.date | date_to_string }}</div>
                </div>
                <div class="col-sm-6">
                    <div>{{ post.content | strip_html | truncatewords:100 }}</div>
                    <a href="{{site.baseurl}}{{ post.url }}">READ MORE</a>
                </div>
            </div>
                {% endfor %}
            </div>
        </div> <!--/ .container -->
    </div><!--/ #posts-wrap -->


    <script type="text/template" id="statsTemplate">
        <% if(!!stats.MilesTraveled) { %>
            <div>Day: <%= stats.Day %></div>
            <div>Miles Traveled: <%= stats.MilesTraveled %></div>
            <div>Miles Left: <%= stats.MilesLeft %></div>
            <div>Needed Pace: <%= stats.NeededPace %></div>
        <% } %>
    </script>