/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@import url(http://fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b);

html {
  overflow-y: scroll;
}
body {
  background-color: #f2f2f2;
    font-family: "PT Serif", serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    padding-top: 50px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", sans-serif;
  font-weight: 300;
  color: #333;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

/* Links */
a {
    color: #3bc492;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #c0392b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

.navbar-nav>li>a.active,.navbar-default .navbar-nav>li>a.active:hover,.navbar-default .navbar-nav>li>a.active:focus {
  color:#555;background-color:#e7e7e7
}


#footerwrap {
  background-color: #2f2f2f;
  color: white;
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: left;
}

#footerwrap h3 {
  font-size: 28px;
  color: white;
}

#footerwrap p {
  color: white;
  font-size: 18px;
}

/* Copyright Wrap */

#c {
  background: #222222;
  padding-top: 15px;
  text-align: right;
}

#c p {
  color: white
}

#homewrap {
  background-color: #34495e;
  color: white;
  padding-bottom: 20px;
}
#homewrap h1 {
  margin-top: 30px;
  color: white;
  font-size: 70px;
  
}

#homewrap h3 {
  color: white;
  font-size: 30px;
  margin: 10px;
}

#homewrap h5 {
  color: white;
  font-weight: 700;
  text-align: left;
}

#homewrap p {
  text-align: left;
  color: white
}

/*****************************************************************************/
/*
/* Post list
/*
/*****************************************************************************/

.posts .post {
  margin-bottom: 40px;
}
.posts .post p {
  margin-bottom: 0;
}
.posts .post .date {
  color: #aaa;
  font-size: 80%;
}
.posts .post .tags {
  color: #666;
  font-size: 14px;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}


/****************************
/* Site Specific Styles
/*
/****************************/

hr {
  border-color: #ddd;
}

#map-container { position: relative; }
#map-label { position: absolute; top: 0px; background: #fff; font-size: 25px; color: #000; font-family: "PT Sans", sans-serif; padding: 5px; }
#map-info-window { text-align: left; }
#map {
  width:100%; height:200px; 
  margin-bottom: 10px;
}
#map.home-map {
  height:350px;
  margin-top: 20px;
}
.post.full {
  padding-top: 50px;
}
.post-map {
}
.post-stats {
}

.imagepop img {
  width: 300px;
  padding: 20px;
}

/* d3 Styles */
path.line {
  stroke: dodgerblue;
  stroke-width: 0;
  fill: none;
}
path.area {
  fill: steelblue;
}
.axis { shape-rendering: crispEdges; }
.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}
.hover-line {
  stroke: #6E7B8B;
}
.graph text.annotation {
    font-size: 10px;
    font-weight: bold;
    stroke: none;
    opacity: 1;
}

.graph text.title {
    font-size: 13px;
    font-weight: bold;
    stroke: none;
    opacity: 1;
}
.graph .background-rect {
    stroke:none;
    fill:rgb(245,245,245);
    fill-opacity:1;
}
.home-graph text {
  fill: white;
}
.home-graph line, .home-graph .y.axis line, .home-graph .y.axis path {
  stroke: white;
}
.post-graph text {
  fill: #777;
}

#elevation-container { position: relative; }
#elevation-container #elevation { position: relative; left: 40px; }
#elevation-container #y_axis { position: absolute; top: 0; bottom: 0; width: 40px; }
#elevation-container .rickshaw_graph .detail .x_label { display: none; opacity: 0; }
#elevation-container .y.label { font: 10px sans-serif; }

.home-stats h1,.home-stats h2,.home-stats h3,.home-stats h4 {
  color: white;
}
.home-stats h2 { font-size: 45px; margin-bottom: 0; }
.home-stats h4 { margin-top: 0; }
.home-stats small { position: relative; top: -.2em; }

.arc-gauge text { fill: white; }
.arc-gauge .digits {
  font-family: 'Orienta', sans-serif;
  font-weight: 500;
  font-size: 4em;
  letter-spacing: -4px;
}
.arcgauge .digits.small { font-size: 3em; }
.arcgauge .arclabel.small { font-size: 11px; }


/****************************
/* MEDIA QUERIES
/****************************/
@media (max-width: 767px) {
  #map.home-map {
    height:200px;
    margin-top: 10px;
  }
  #homewrap h1 {
    font-size: 50px;
    margin: 0;
  }
  #homewrap h3 {
    font-size: 20px;
    margin: 0;
  }
}