---
layout: default
---

    <div class="container">
        <div class="row">
            <h1>{{ page.title }}</h1>

            <div class="pull-right">
                {% if page.previous %}
                Previous checkin: <a href="{{site.baseurl}}{{page.previous.url}}">{{ page.previous.date | date: '%B %-d, %Y' }}</a>
                {% endif %}
                <div id="stats" class="post-stats">
                    {% if page.data.mileage %}
                    <div>Miles traveled: {{ page.data.mileage }}</div>
                    {% endif %}
                </div>
            </div>

            <p class="meta">{{ page.date | date: '%A, %B %-d, %Y'}}<br/>
            {% assign time = page.date | date: '%-I:%M%p' %}
            {% if time != "12:00AM" %}
            {{ page.date | date: '%-I:%M %p'}} {{page.timezone}}
            {% endif %}</p>

            {% if page.towns or page.data.towns or page.data.flights %}
            <div id="map-container">
                <div id="map" class="post-map"></div>
                <div id="map-label" class="hide"></div>
            </div>
            <div id="elevation-container" class="graph post-graph">
                <div id="y_axis"></div>
                <div id="elevation"></div>
            </div>
            {% endif %}
            
            <div class="post full">
            {{ content }}
            </div>

            {% if page.data.towns %}
            <div class="towns">
                <h2>Towns</h2>
                <ul>
                {% for town in page.data.towns %}
                    <li>
                    {% if town.url %}
                    <a href="{{ town.url }}" class="pop" target="_blank">{{ town.name | remove: ", Spain" }}</a>
                    {% else %}
                    {{ town.name | remove: ", Spain" }}
                    {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>

    <div id="footerwrap">
        <div class="container">
            <div class="col-sm-6">
            {% if page.previous %}
                <h3><a href="{{site.baseurl}}{{page.previous.url}}">&larr; {{page.previous.title}}</a></h3>
                <p>{{ page.previous.date | date: '%A, %B %-d, %Y'}}<br/>
                {% assign time = page.previous.date | date: '%-I:%M%p' %}
                {% if time != "12:00AM" %}
                {{ page.previous.date | date: '%-I:%M %p'}} {{page.previous.timezone}}{% endif %}</p>
            {% endif %}
            </div>
            
            <div class="col-sm-6 text-right">
            {% if page.next %}
                <h3><a href="{{site.baseurl}}{{page.next.url}}">{{page.next.title}} &rarr;</a></h3>
                <p>{{ page.next.date | date: '%A, %B %-d, %Y'}}<br/>
                {% assign time = page.next.date | date: '%-I:%M%p' %}
                {% if time != "12:00AM" %}
                {{ page.next.date | date: '%-I:%M %p'}} {{page.next.timezone}}{% endif %}</p>
            {% endif %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
     var postData = {{ page.data | jsonify }};
     {% unless page.data %}
     var towns = {{ page.towns | jsonify }};
     {% endunless %}
    </script>